# IDE settings
nbproject/
.idea/
.idea/**
.vscode/

# PHPDOC
html/docs/
phpdoc/cache

# Dependencies
vendor/
html/public/libraries/
html/public/files/

# Local evironment
environment.php
environment.*.php